@font-face {
    font-family: Novecento;
    src: url("../fonts/Novecentowide-Normal.otf") format("opentype");
}
@font-face {
    font-family: Novecento-Light;
    src: url("../fonts/Novecentowide-Light.otf") format("opentype");
}
@font-face {
    font-family: Novecento;
    font-weight: bold;
    src: url("../fonts/Novecentowide-Bold.otf") format("opentype");
}
html, body {
    /*font-family: 'Merriweather', serif;*/
    font-family: sans-serif;
}
.navbar {
    background: none !important;
    position: absolute;
    top: 0;
    left: 0;
}
.navbar-flex {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.navbar-brand img {
    max-height: 95px;
}
.navbar-toggler {
    margin-right: 7px;
}
.navbar-collapse {
    width: 48%;
}
.navbar-brand {
    width: 52%;
}
.nav-item {
    font-family: Novecento, serif;
    color: black;
    font-size: 18px;
    padding: 15px;
    letter-spacing: 2px;
    text-shadow: 1px 1px 7px #c8ccc9;
}
.goto {
    margin-top: -190px;
    padding-bottom: 190px;
    display: block;
}
.sticky {
    position: fixed;
    top: -2px;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 2px #e8e8e8;
    z-index: 11;
    height: 61px;
    background: white !important;
}
.sticky .navbar-brand {
    height: 65px;
}
.sticky .nav-item {
    text-shadow: none;
}
.sticky img {
    height: 100%;
}
.carousel {
    z-index: -1;
}
.carousel-item {
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.carousel1 {
    background-image: url("../img/slider/dr.jpg");
}
.carousel2 {
    background-image: url("../img/slider/IMG_0613.jpg");
}
.carousel3 {
    background-image: url("../img/slider/IMG_0601.jpg");
}
.caption {
    position: absolute;
    right: 15%;
    bottom: 35%;
    left: 15%;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}
.caption h3 {
    font-size: 35pt;
}
.caption p {
    font-size: 14pt;
}
.caption p, .caption h3 {
    font-family: Novecento, serif;
    font-weight: 300;
    text-shadow: 1px 2px 4px #8b8f8c;
}

section:not(:first-child) {
    margin-top: 130px;
}

section h2 {
    font-family: Novecento, serif;
    font-size: 25pt;
    letter-spacing: 2px;
    margin-bottom: 25px;
}

section p {
    line-height: 30px;
}

.separator {
    height: 2px;
    width: 100px;
    margin: 0 auto 40px auto;
    background-color: #8f7809;
}

#lines-research li {
    font-size: 11pt;
    margin-bottom: 4px;
}
section p {
    font-size: 11pt;
}
.contact h3{
    font-size: 13pt;
}
.text-gray {
    color: gray;
}
card h5 {
    font-family: Novecento, serif;
    font-size: 13pt;
}
card p {
    font-size: 11pt;
}
card li {
    font-size: 11pt;
    color: gray;
}
card img {
    max-height: 350px;
}
.btn-contact a{
    margin-bottom: -190px;
}
footer {
    color: #888;
    margin-top: 130px;
    width: 100%;
    height: 170px;
    /*background-color: #333;*/
    letter-spacing: 1px;
}

footer p {
    margin-top: 10px;
}
footer a {
    color: #888;
    text-decoration: none !important;
}
footer a:hover {
    color: #a1a1a1;
}
footer img {
    max-width: 400px;
}
.img-preview {
    display: flex;
    justify-content: flex-end;
    width: 525px;
    height: 350px;
}

@media (max-width: 530px) {
    #lab-equipment.container {
        padding: 0;
    }
    #lab-equipment img {
        width: 100%;
        object-fit: cover;
        margin-bottom: 30px;
    }
}

@media (max-width: 991px) {
    .navbar-logo {
        display: block !important;
    }
    .navbar-collapse {
        margin-top: -8px;
        order: 1;
    }
    .navbar-brand {
        width: 50%;
        padding: 15px;
    }
    .caption h3 {
        font-size: 25pt;
    }
    .caption h3, .caption p{
        text-shadow: 2px 2px 3px #1b1e21;
    }
    section h2 {
        font-size: 24px;
    }
    card ul {
        width: 100%;
    }
    .img-preview {
        justify-content: center;
    }
    .img-preview img {
        object-fit: contain;
    }
    #lab-equipment card {
        justify-content: center !important;
    }
    #lab-equipment .descripcion {
        width: 90%;
        margin: 0 !important;
        text-align: justify !important;
    }
    #lab-equipment img {
        margin-bottom: 30px;
    }
    .sticky .navbar-brand {
        height: 65px;
        margin-top: -3px;
    }
    .navbar-collapse {
        background: white;
        box-shadow: 0 2px 5px -2px #828282;
    }
    nav {
        padding: 0 !important;
    }
}
@media (max-width: 1200px) {
    card .descripcion {
        width: 300px;
    }
}